html,body {
  font-size: 10px;
}
body {
  min-height: 100vh;
  background: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
.d-m-none-lg {
  @media (min-width: 993px) {
    display: none !important;
  }
}
.d-none-lg {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.d-m-none-xl {
  @media (min-width: 1201px) {
    display: none !important;
  }
}

.d-none-xxl {
  @media (max-width: 1200px) {
    display: none !important;
  }
}
