.ProseMirror {
  border: none !important;
  padding: 1rem;
  width: 100% !important;
  height: 100% !important;
  & * {
    font-size: 1.7rem;
  }

  ul, ol {
    margin-left: 2rem !important;
  }
}

.ProseMirror-focused {
  border: 0 !important;
  outline: none !important;
}
