* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  outline: 0;
  text-decoration: none;
}

button {
  background: none;
  outline: 0;
  cursor: pointer;
}



button, img, label, a {
  user-select: none;
}

ul, ol {
  list-style: none;
}

img, picture, svg {
  display: block;
}
